<% client_cache 'HeaderMenu' do %>
  <% @tp.menu('Header Menu').each do |menu_item, children| %>
    <% if children.present? %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a href="#" class="navbar-link">
          <%= @tp.t(menu_item).name %>
        </a>
        <div class="navbar-dropdown">
          <% children.map(&:first).each do |child| %>
            <a href="<%= child.path(current_language) %>" class="navbar-item"><%= @tp.t(child).name %></a>
          <% end %>
        </div>
      </div>
    <% else %>
      <a href="<%= menu_item.path(current_language) %>" class="navbar-item"><%= @tp.t(menu_item).name %></a>
    <% end %>
  <% end %>
<% end %>
<% if admin_user_signed_in? %>
  <%= render partial: 'layouts/shared/admin_profile_menu', locals: { admin_panel: false } %>
<% end %>
<% if current_client.enabled_languages.size > 1 && controller_name != 'errors' %>
  <div class="navbar-item has-dropdown is-hoverable">
    <a href="#" class="navbar-link">
      <span class="flag-icon flag-icon-<%= current_language.flag %>"></span>
      &nbsp;
      <%= current_language.name %>
    </a>
    <div class="navbar-dropdown">
      <% current_client.enabled_languages.each do |language| %>
        <a href="<%= @model.path(language) %>" class="navbar-item">
          <span class="flag-icon flag-icon-<%= language.flag %>"></span>
          &nbsp;
          <%= language.name %>
        </a>
      <% end %>
    </div>
  </div>
<% end %>