<!DOCTYPE html>
<html data-theme="light" lang="<%= current_locale.to_s.split('-').first %>" data-js-locale="<%= current_locale.to_s.tr('-', '_') %>">

<head>
  <%= yield :meta %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <% client_cache 'Favicon' do %>
    <link rel="icon" href="<%= current_client.image_path_with_default([32, 32], '/favicon.png') %>" />
  <% end %>

  <%= vite_client_tag %>
  <% ["entrypoints/templates/#{current_client.template}/main.js"].concat(yield(:scripts).split(',')).each do |name| %>
    <%= vite_javascript_tag name %>
  <% end %>
</head>

<body>
  <header>
    <nav class="navbar is-dark">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger" data-target="header-menu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div class="navbar-menu" id="header-menu">
          <div class="navbar-end">
            <%= render partial: "layouts/templates/#{current_client.template}/header_menu" %>
          </div>
        </div>
      </div>
    </nav>
    <% client_cache 'Hero' do %>
      <% hero_post = @tp.t(@tp.posts(only_visible: false).joins(:categories).find_by(categories: { name: 'Hero' })) %>
      <% if hero_post %>
        <div class="hero is-dark">
          <div class="hero-body">
            <div class="columns is-centered is-vcentered is-multiline is-tablet has-text-centered-mobile">
              <a href="<%= root_path %>">
                <img src="<%= current_client.image_path_with_default([64, 64], '/logo.png') %>" class="pr-3" alt="logo" />
              </a>
              <div>
                <h1 class="title is-2">
                  <a href="<%= root_path %>"><%= hero_post.name %></a>
                </h1>
                <div class="subtitle"><%= hero_post.body&.html_safe %></div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </header>

  <main>
    <div class="container">
      <div class="columns is-multiline is-mobile pt-5">
        <div class="column is-two-thirds-desktop is-full-tablet is-full-mobile"><%= yield %></div>
        <div class="column is-one-third-desktop is-full-tablet is-full-mobile">
          <%= render partial: "layouts/templates/#{current_client.template}/sidebar" %>
        </div>
      </div>
    </div>
  </main>

  <% client_cache 'Footer' do %>
    <footer>
      <div class="container">
        <%= render partial: "layouts/templates/#{current_client.template}/footer_menu" %>
        <% footer_post = @tp.t(@tp.posts(only_visible: false).find_by(name: 'Footer')) %>
        <% if footer_post %>
          <div class="content"><%= footer_post.body.gsub('{year}', Time.now.year.to_s).html_safe %></div>
        <% end %>
      </div>
    </footer>
  <% end %>
</body>

</html>