<% query_params = request.query_parameters.slice(:status, :only_mine, :search, :parent_id, :hide_actions, :hide_status_filter) %>
<div class="columns is-multiline">
  <div class="column is-full-tablet is-half-desktop">
    <%= form_with(method: :get, html: { class: 'smart-table-search field has-addons', 'data-target' => 'pages-smart-table' }) do |t| %>
    <% query_params.except(:search).each do |key, value| %>
    <input type="hidden" name="<%= key %>" value="<%= value %>" />
    <% end %>
    <div class="control is-expanded">
      <input type="text" name="search" placeholder="<%= _('Search...') %>" class="input" value="<%= params[:search] %>" />
    </div>
    <div class="control">
      <button type="submit" class="button is-success" title="<%= _('Search') %>">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <% end %>
  </div>
  <div class="column has-text-right-tablet">
    <% if params[:hide_status_filter].blank? %>
    <div class="dropdown is-togglable is-right-tablet has-text-left">
      <div class="dropdown-trigger">
        <a href="javascript:void(0)" aria-haspopup="true" aria-controls="dropdown-menu" class="button<%= ' is-link' if params[:status].present? || params[:only_mine].present? %>">
          <%= _('Filters') %>
          &nbsp;
          <i class="fas fa-angle-down"></i>
        </a>
      </div>
      <div class="dropdown-menu filters" role="menu">
        <div class="dropdown-content">
          <a class="dropdown-item" href="<%= url_for(query_params.merge(status: '', only_mine: '')) %>">
            <%= _('All pages') %>
            <% if params[:status].blank? && params[:only_mine].blank? %>
            <i class="fas fa-check"></i>
            <% end %>
          </a>
          <a class="dropdown-item" href="<%= url_for(query_params.merge(status: params[:status] == 'draft' ? '' : 'draft')) %>">
            <%= _('Only drafts|Pages') %>
            <% if params[:status] == 'draft' %>
            <i class="fas fa-check"></i>
            <% end %>
          </a>
          <a class="dropdown-item" href="<%= url_for(query_params.merge(status: params[:status] == 'published' ? '' : 'published')) %>">
            <%= _('Only published|Pages') %>
            <% if params[:status] == 'published' %>
            <i class="fas fa-check"></i>
            <% end %>
          </a>
          <% if params[:user_id].blank? %>
          <a class="dropdown-item" href="<%= url_for(query_params.merge(only_mine: params[:only_mine].present? ? '' : '1')) %>">
            <%= _('Only my pages') %>
            <% if params[:only_mine].present? %>
            <i class="fas fa-check"></i>
            <% end %>
          </a>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <% if params[:hide_actions].blank? %>
    <a class="button" href="<%= tree_admin_pages_path %>">
      <i class="fas fa-sitemap"></i>
      &nbsp;
      <%= _('Tree') %>
    </a>
    <a class="button is-success" href="<%= new_admin_page_path %>">
      <%= _('Create') %>
      &nbsp;
      <i class="fas fa-plus"></i>
    </a>
    <% end %>
  </div>
</div>
<table class="table is-striped is-hoverable is-fullwidth mt-2">
  <thead>
    <tr>
      <th><%= render partial: 'admin/shared/table_header', locals: { field: 'name', title: _('Name') } %></th>
      <th class="is-hidden-mobile"><%= _('Status') %></th>
      <th class="is-hidden-touch"><%= render partial: 'admin/shared/table_header', locals: { field: 'created_at', title: _('Created At') } %></th>
      <th class="is-hidden-touch"><%= render partial: 'admin/shared/table_header', locals: { field: 'updated_at', title: _('Updated At') } %></th>
      <th class="actions-cell<%= ' is-hidden' if params[:hide_actions].present? %>"></th>
    </tr>
  </thead>
  <tbody>
    <% if pages.none? %>
    <tr>
      <td colspan="5"><%= _('No pages were found.') %></td>
    </tr>
    <% else %>
    <% pages.each do |page| %>
    <tr>
      <td>
        <a href="<%= admin_page_path(page) %>"><%= page.name %></a>
      </td>
      <td class="is-hidden-mobile"><%= page.draft? ? _('Draft|Page') : _('Published|Page') %></td>
      <td class="is-hidden-touch"><%= page.created_at.to_fs %></td>
      <td class="is-hidden-touch"><%= page.updated_at.to_fs %></td>
      <td class="actions-cell<%= ' is-hidden' if params[:hide_actions].present? %>">
        <div class="dropdown is-togglable is-right">
          <div class="dropdown-trigger">
            <a href="javascript:void(0)" aria-haspopup="true" aria-controls="dropdown-menu" title="<%= _('Actions') %>">
              <i class="fas fa-ellipsis-v"></i>
            </a>
          </div>
          <%= render partial: 'admin/pages/dropdown_menu', locals: { page: page } %>
        </div>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @pages %>

<% pages.each do |page| %>
<%= render partial: 'admin/pages/delete_modal', locals: { page: page } %>
<%= render partial: 'admin/pages/publish_modal', locals: { page: page } %>
<% end %>