<%
    content_for :title, _('Page Details | %{client}') % { client: current_client.name }
    content_for :description, _('Details for a page of %{client}') % { client: current_client.name }
%>

<a class="button" href="<%= admin_pages_path %>">
  <i class="fa-solid fa-long-arrow-alt-left"></i>
  &nbsp;
  <%= _('Back') %>
</a>
<div class="dropdown is-togglable">
  <div class="dropdown-trigger">
    <a href="javascript:void(0)" aria-haspopup="true" aria-controls="dropdown-menu" class="button">
      <%= _('Actions') %>
      &nbsp;
      <i class="fa-solid fa-angle-down"></i>
    </a>
  </div>
  <%= render partial: 'admin/pages/dropdown_menu', locals: { page: @page } %>
  <%= render partial: 'admin/pages/delete_modal', locals: { page: @page } %>
  <%= render partial: 'admin/pages/publish_modal', locals: { page: @page } %>
</div>
<article class="card mt-5">
  <header class="card-header">
    <h1 class="card-header-title">
      <i class="fa-solid fa-file"></i>
      &nbsp;
      <%= _('Page Details') %>
    </h1>
  </header>
  <div class="card-content">
    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <% if @page.image.attached? %>
            <img src="<%= rails_representation_url(@page.image.variant(resize_to_limit: [256, 256]), locale: nil) %>" width="256" height="256" alt="image" />
            <% else %>
            <i class="fa-solid fa-8x fa-question-circle"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Name') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @page.name %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Slug') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @page.slug %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Hierarchy') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <% @page.ancestors.each do |page| %>
            <a href="<%= admin_page_path(page) %>"><%= page.name %></a>
            >
            <% end %>
            <%= @page.name %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Description') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @page.description %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Tags') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= @page.tags.map { |tag| link_to tag.name, admin_tag_path(tag) }.join(', ').html_safe %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Template') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @page.template %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Status') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @page.draft? ? _('Draft|Page') : _('Published|Page') %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Visibility') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @page.public_visibility? ? _('Public|Visibility') : _('Private|Visibility') %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Author') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= render partial: 'admin/shared/admin_user_name', locals: { admin_user: @page.author } %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Created At') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @page.created_at.to_fs %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Updated At') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @page.updated_at.to_fs %></div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="card mt-5">
  <div class="card-header">
    <h2 class="card-header-title">
      <i class="fa-solid fa-file"></i>
      &nbsp;
      <%= _('Page|Body') %>
    </h2>
  </div>
  <div class="card-content">
    <div class="content">
      <%= @page.body&.html_safe %>
    </div>
  </div>
</article>
<article class="card mt-5">
  <div class="card-header">
    <h2 class="card-header-title">
      <i class="fa-solid fa-sitemap"></i>
      &nbsp;
      <%= _('Subpages') %>
    </h2>
  </div>
  <div class="card-content">
    <div class="smart-table" id="pages-smart-table" data-autoload="<%= admin_pages_path(parent_id: @page.id, hide_actions: true, hide_status_filter: true, hide_user_filter: true) %>"></div>
  </div>
</article>