<%
  page = [params[:page].to_i, 1].max
  title = @tp.t(@model).name % { term: params[:term] }
%>

<% content_for :meta do %>
  <%= render partial: "templates/#{current_client.template}/pages/meta", locals: { page: page, title: title, term: params[:term].to_s } %>
<% end %>

<article>
  <header class="mb-5">
    <%= render partial: "templates/#{current_client.template}/pages/breadcrumb", locals: { title: title } %>
    <h2 class="is-sr-only"><%= @tp.t(@model).name %></h2>
    <p class="title is-4"><%= title %></p>
  </header>
  <div class="content mb-5"><%= @tp.t(@model).body&.html_safe %></div>

  <% posts = @tp.search_posts(params[:term]).includes(:image_attachment).order(published_at: :desc, id: :desc).page(page).per(10) %>
  <%= render partial: "templates/#{current_client.template}/shared/post_list", locals: { posts: posts } %>
</article>