<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link<%= ' is-active' if %w[profile password].include?(controller_name) %>" href="javascript:void(0)">
    <% if current_admin_user.image.attached? %>
    <img src="<%= rails_representation_url(current_admin_user.image.variant(resize_to_limit: [32, 32])) %>" alt="<%= current_admin_user.username %>" width="32" height="32" />
    <% else %>
    <i class="fa-solid fa-user"></i>
    <% end %>
    <%= current_admin_user.username %>
  </a>
  <div class="navbar-dropdown is-right">
    <% if admin_panel %>
    <a class="navbar-item" href="<%= root_path %>">
      <i class="fa-solid fa-long-arrow-alt-left"></i>
      <%= _('Back to Site') %>
    </a>
    <% else %>
    <a class="navbar-item" href="<%= admin_root_path %>">
      <i class="fa-solid fa-users-cog"></i>
      <%= _('Admin Panel') %>
    </a>
    <% end %>
    <hr class="navbar-divider" />
    <a class="navbar-item<%= ' is-active' if controller_name == 'profile' %>" href="<%= admin_profile_path %>">
      <i class="fa-solid fa-user"></i>
      <%= _('My Profile') %>
    </a>
    <a class="navbar-item<%= ' is-active' if controller_name == 'password' %>" href="<%= admin_password_edit_path %>">
      <i class="fa-solid fa-key"></i>
      <%= _('Change Password') %>
    </a>
    <hr class="navbar-divider" />
    <%= form_with(url: destroy_admin_user_session_path, method: :delete) do |f| %>
    <a class="navbar-item submit-parent-form" href="javascript:void(0)">
      <i class="fa-solid fa-sign-out-alt"></i>
      <%= _('Sign Out') %>
    </a>
    <% end %>
  </div>
</div>