<%
    content_for :title, _('Dashboard | %{client}') % { client: current_client[:name] }
    content_for :description, _('Admin dashboard of %{client}') % { client: current_client[:name] }
%>

<article>
    <header class="is-sr-only">
        <h1><%= _('Dashboard') %></h1>
    </header>
    <div class="columns is-multiline is-mobile">
        <div class="column is-one-quarter-widescreen is-half-desktop is-half-tablet is-full-mobile">
            <article class="message is-info">
                <div class="message-body">
                    <header>
                        <h2 class="is-size-4 has-text-weight-bold"><%= n_('%{count} Post', '%{count} Posts', 0) % { count: 0 } %></h2>
                    </header>
                </div>
            </article>
        </div>
        <div class="column is-one-quarter-widescreen is-half-desktop is-half-tablet is-full-mobile">
            <article class="message is-success">
                <div class="message-body">
                    <header>
                        <h2 class="is-size-4 has-text-weight-bold"><%= n_('%{count} Page', '%{count} Pages', 0) % { count: 0 } %></h2>
                    </header>
                </div>
            </article>
        </div>
        <div class="column is-one-quarter-widescreen is-half-desktop is-half-tablet is-full-mobile">
            <article class="message is-warning">
                <div class="message-body">
                    <header>
                        <h2 class="is-size-4 has-text-weight-bold"><%= n_('%{count} Category', '%{count} Categories', 0) % { count: 0 } %></h2>
                    </header>
                </div>
            </article>
        </div>
        <div class="column is-one-quarter-widescreen is-half-desktop is-half-tablet is-full-mobile">
            <article class="message is-danger">
                <div class="message-body">
                    <header>
                        <h2 class="is-size-4 has-text-weight-bold"><%= n_('%{count} Medium', '%{count} Media', @media_count) % { count: @media_count } %></h2>
                    </header>
                </div>
            </article>
        </div>
    </div>

    <article class="mb-5">
        <header>
            <h2 class="title is-5 mb-3">
                <%= _('Post Drafts') %>
                <i class="fas fa-check has-text-success"></i>
            </h2>
        </header>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th><%= _('Name') %></th>
                    <th><%= _('Created At') %></th>
                    <th><%= _('Updated At') %></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4"><%= _('You have no post drafts.') %></td>
                </tr>
            </tbody>
        </table>
    </article>

    <article class="mb-5">
        <header>
            <h2 class="title is-5 mb-3">
                <%= _('Page Drafts') %>
                <i class="fas fa-check has-text-success"></i>
            </h2>
        </header>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th><%= _('Name') %></th>
                    <th><%= _('Created At') %></th>
                    <th><%= _('Updated At') %></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4"><%= _('You have no page drafts.') %></td>
                </tr>
            </tbody>
        </table>
    </article>

    <article class="mb-5">
        <header>
            <h2 class="title is-5 mb-3">
                <%= _('Category Drafts') %>
                <i class="fas fa-check has-text-success"></i>
            </h2>
        </header>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th><%= _('Name') %></th>
                    <th><%= _('Created At') %></th>
                    <th><%= _('Updated At') %></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4"><%= _('You have no category drafts.') %></td>
                </tr>
            </tbody>
        </table>
    </article>
</article>