<%
    content_for :title, _('Dashboard | %{client}') % { client: current_client.name }
    content_for :description, _('Admin dashboard of %{client}') % { client: current_client.name }
    content_for :scripts, 'entrypoints/admin/pages/dashboard/index/main.js'
%>

<article>
  <header class="is-sr-only">
    <h1><%= _('Dashboard') %></h1>
  </header>
  <div class="columns is-multiline is-mobile">
    <div class="column is-one-quarter-widescreen is-half-desktop is-half-tablet is-full-mobile">
      <article class="message is-info">
        <div class="message-body">
          <header>
            <h2 class="is-size-4 has-text-weight-bold"><%= n_('%{count} Post', '%{count} Posts', @posts_count) % { count: @posts_count } %></h2>
          </header>
        </div>
      </article>
    </div>
    <div class="column is-one-quarter-widescreen is-half-desktop is-half-tablet is-full-mobile">
      <article class="message is-success">
        <div class="message-body">
          <header>
            <h2 class="is-size-4 has-text-weight-bold"><%= n_('%{count} Page', '%{count} Pages', @pages_count) % { count: @pages_count } %></h2>
          </header>
        </div>
      </article>
    </div>
    <div class="column is-one-quarter-widescreen is-half-desktop is-half-tablet is-full-mobile">
      <article class="message is-warning">
        <div class="message-body">
          <header>
            <h2 class="is-size-4 has-text-weight-bold"><%= n_('%{count} Category', '%{count} Categories', @categories_count) % { count: @categories_count } %></h2>
          </header>
        </div>
      </article>
    </div>
    <div class="column is-one-quarter-widescreen is-half-desktop is-half-tablet is-full-mobile">
      <article class="message is-danger">
        <div class="message-body">
          <header>
            <h2 class="is-size-4 has-text-weight-bold"><%= n_('%{count} Tag', '%{count} Tags', @tags_count) % { count: @tags_count } %></h2>
          </header>
        </div>
      </article>
    </div>
    <div class="column is-one-quarter-widescreen is-half-desktop is-half-tablet is-full-mobile">
      <article class="message is-info">
        <div class="message-body">
          <header>
            <h2 class="is-size-4 has-text-weight-bold"><%= n_('%{count} Menu', '%{count} Menus', @menus_count) % { count: @menus_count } %></h2>
          </header>
        </div>
      </article>
    </div>
    <div class="column is-one-quarter-widescreen is-half-desktop is-half-tablet is-full-mobile">
      <article class="message is-success">
        <div class="message-body">
          <header>
            <h2 class="is-size-4 has-text-weight-bold"><%= n_('%{count} Medium', '%{count} Media', @media_count) % { count: @media_count } %></h2>
          </header>
        </div>
      </article>
    </div>
    <div class="column is-one-quarter-widescreen is-half-desktop is-half-tablet is-full-mobile">
      <article class="message is-warning">
        <div class="message-body">
          <header>
            <h2 class="is-size-4 has-text-weight-bold"><%= n_('%{count} Redirect', '%{count} Redirects', 0) % { count: 0 } %></h2>
          </header>
        </div>
      </article>
    </div>
    <div class="column is-one-quarter-widescreen is-half-desktop is-half-tablet is-full-mobile">
      <article class="message is-danger">
        <div class="message-body">
          <header>
            <h2 class="is-size-4 has-text-weight-bold"><%= n_('%{count} Content', '%{count} Contents', @contents_count) % { count: @contents_count } %></h2>
          </header>
        </div>
      </article>
    </div>
    <% if current_admin_user.supervisor? %>
    <div class="column is-one-quarter-widescreen is-half-desktop is-half-tablet is-full-mobile">
      <article class="message is-info">
        <div class="message-body">
          <header>
            <h2 class="is-size-4 has-text-weight-bold"><%= n_('%{count} User', '%{count} Users', @users_count) % { count: @users_count } %></h2>
          </header>
        </div>
      </article>
    </div>
    <% end %>
  </div>

  <% if @draft_posts_count > 0 %>
  <article class="card mt-5">
    <header class="card-header">
      <h2 class="card-header-title">
        <i class="fa-solid fa-thumbtack"></i>
        &nbsp;
        <%= _('My post drafts (%{count})') % { count: @draft_posts_count } %>
        &nbsp;
        <i class="fa-solid fa-exclamation-triangle has-text-warning"></i>
      </h2>
    </header>
    <div class="card-content">
      <div class="smart-table" id="posts-smart-table" data-autoload="<%= admin_posts_path(hide_actions: true, hide_user_filter: true, hide_status_filter: true, status: :draft, user_id: current_admin_user.id) %>">
      </div>
    </div>
  </article>
  <% else %>
  <article class="card mt-5">
    <header class="card-header">
      <h2 class="card-header-title">
        <i class="fa-solid fa-thumbtack"></i>
        &nbsp;
        <%= _('My post drafts') %>
        &nbsp;
        <i class="fa-solid fa-check has-text-success"></i>
      </h2>
    </header>
    <div class="card-content">
      <%= _('You have no post drafts.') %>
    </div>
  </article>
  <% end %>

  <% if @draft_pages_count > 0 %>
  <article class="card mt-5">
    <header class="card-header">
      <h2 class="card-header-title">
        <i class="fa-solid fa-file"></i>
        &nbsp;
        <%= _('My page drafts (%{count})') % { count: @draft_pages_count } %>
        &nbsp;
        <i class="fa-solid fa-exclamation-triangle has-text-warning"></i>
      </h2>
    </header>
    <div class="card-content">
      <div class="smart-table" id="pages-smart-table" data-autoload="<%= admin_pages_path(hide_actions: true, hide_user_filter: true, hide_status_filter: true, status: :draft, user_id: current_admin_user.id) %>">
      </div>
    </div>
  </article>
  <% else %>
  <article class="card mt-5">
    <header class="card-header">
      <h2 class="card-header-title">
        <i class="fa-solid fa-file"></i>
        &nbsp;
        <%= _('My page drafts') %>
        &nbsp;
        <i class="fa-solid fa-check has-text-success"></i>
      </h2>
    </header>
    <div class="card-content">
      <%= _('You have no page drafts.') %>
    </div>
  </article>
  <% end %>
  <article class="card mt-5">
    <header class="card-header">
      <h2 class="card-header-title">
        <i class="fa-solid fa-file"></i>
        &nbsp;
        <%= _('Page Visits (Last Month)') %>
      </h2>
    </header>
    <div class="card-content">
      <canvas id="page-visits-chart" data-label="<%= _('Page Visits') %>"></canvas>
      <br />
      <div class="smart-table" id="page-visits-smart-table" data-autoload="<%= admin_dashboard_page_visits_path %>">
      </div>
    </div>
  </article>
</article>