<p><%= _('Hello %{email}!') % { email: @resource.email } %></p>

<p><%= _('Your account has been locked due to an excessive number of unsuccessful sign in attempts.') %></p>

<p><%= _('Click the link below to unlock your account:') %></p>

<p><%= link_to _('Unlock my account'), unlock_url(@resource, @resource.client[:default_url_options].merge(unlock_token: @token, locale: I18n.locale)) %></p>

<p><%= _('Kind Regards,') %><br /><%= _('The administration of %{client}') % { client: @resource.client[:name] } %></p>