<%
    content_for :title, _('Create Content | %{client}') % { client: current_client.name }
    content_for :description, _('Create new content for %{client}') % { client: current_client.name }
%>

<%= render "admin/shared/error_messages", resource: @content %>
<%= form_with(model: @content, url: admin_contents_path, method: :post) do |f| %>
<article class="card">
  <header class="card-header">
    <h1 class="card-header-title">
      <i class="fa-solid fa-folder"></i>
      &nbsp;
      <%= _('Create Content') %>
    </h1>
  </header>
  <div class="card-content">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= f.label :image, class: 'label' %>
      </div>
      <div class="field-body">
        <div class="field">
          <%= render partial: 'admin/shared/image_uploader', locals: { model: @content, f: f } %>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= f.label :name, class: 'label required-label' %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= f.text_field :name, class: 'input', required: true %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= f.label :order, class: 'label' %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= f.text_field :order, class: 'input' %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= f.label :category_names, class: 'label' %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= f.select :category_names, @content.category_names.select(&:present?), {}, { 'data-fetchUrl' => search_admin_categories_path, multiple: true, 'data-tags': true, 'data-fullWidth': true } %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= f.label :simple_text, class: 'label' %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= f.text_area :simple_text, class: 'textarea', rows: 5 %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= f.label :rich_text, class: 'label' %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= f.text_area :rich_text, class: 'rich-editor' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<div class="card mt-5">
  <div class="card-content">
    <div class="field is-horizontal">
      <div class="field-label is-hidden-touch is-hidden-mobile"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= f.submit _('Submit'), class: 'button is-success' %>
            <a class="button" href="<%= admin_contents_path %>"><%= _('Cancel') %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>