<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= _('Name') %></th>
      <th class="is-hidden-mobile"><%= _('Updated At') %></th>
      <th class="actions-cell"></th>
    </tr>
  </thead>
  <tbody>
    <% if @email_templates.none? %>
    <tr>
      <td colspan="6"><%= _('No email templates were found.') %></td>
    </tr>
    <% else %>
    <% @email_templates.each do |email_template| %>
    <tr>
      <td>
        <a href="<%= admin_email_template_path(email_template) %>"><%= email_template.type_name %></a>
      </td>
      <td class="is-hidden-mobile"><%= email_template.updated_at %></td>
      <td class="actions-cell">
        <div class="dropdown is-togglable is-right">
          <div class="dropdown-trigger">
            <a href="javascript:void(0)" aria-haspopup="true" aria-controls="dropdown-menu" title="<%= _('Actions') %>">
              <i class="fas fa-ellipsis-v"></i>
            </a>
          </div>
          <div class="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <% if current_client.enabled_languages.size > 1 %>
              <a class="dropdown-item" href="<%= translate_admin_email_template_path(email_template) %>">
                <i class="fas fa-globe"></i>
                &nbsp;
                <%= _('Translate') %>
              </a>
              <% end %>
              <a class="dropdown-item" href="<%= edit_admin_email_template_path(email_template) %>">
                <i class="fas fa-pen"></i>
                &nbsp;
                <%= _('Edit') %>
              </a>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>