<%
    content_for :title, _('Translate Email Template | %{client}') % { client: current_client.name }
    content_for :description, _('Translate an email template of %{client}') % { client: current_client.name }
%>

<%= render "admin/shared/error_messages", resource: @email_template %>
<a class="button" href="<%= admin_email_template_path(@email_template) %>">
  <i class="fas fa-long-arrow-alt-left"></i>
  &nbsp;
  <%= _('Back') %>
</a>
<div class="columns is-multiline is-mobile mt-3">
  <div class="column is-full-mobile is-full-tablet is-half-desktop">
    <article class="card">
      <header class="card-header">
        <h1 class="card-header-title">
          <i class="fas fa-envelope"></i>
          &nbsp;
          <%= _('Email Template') %>
        </h1>
      </header>
      <div class="card-content">
        <div class="field">
          <span class="label"><%= _('Name') %></span>
          <div class="control">
            <%= @translation.type_name %>
          </div>
        </div>
        <div class="field">
          <span class="label"><%= _('Subject') %></span>
          <div class="control">
            <input type="text" class="input" value="<%= @email_template.subject %>" readonly />
          </div>
        </div>
        <div class="field">
          <span class="label"><%= _('EmailTemplate|Body') %></span>
          <div class="control">
            <textarea id="original-email-template-body" rows="5" class="textarea rich-editor" readonly><%= @email_template.body %></textarea>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="column is-full-mobile is-full-tablet is-half-desktop">
    <article class="card">
      <header class="card-header">
        <h1 class="card-header-title">
          <i class="fas fa-envelope"></i>
          &nbsp;
          <%= _('Translation') %>
        </h1>
        <%= render partial: 'admin/shared/languages_dropdown' %>
      </header>
      <div class="card-content">
        <%= form_with(model: @translation.becomes(EmailTemplate), url: translate_admin_email_template_path(@email_template, translation_locale: translation_locale), method: :post) do |f| %>
        <div class="field">
          <span class="label"><%= _('Name') %></span>
          <div class="control"><%= @translation.type_name %></div>
        </div>
        <div class="field">
          <%= f.label :subject, class: 'label' %>
          <div class="control">
            <%= f.text_field :subject, class: 'input' %>
          </div>
          <p class="help">
            <a href="javascript:void(0)" data-modal-open="parameters-modal"><%= _('parameters') %></a>
          </p>
        </div>
        <div class="field">
          <%= f.label :body, class: 'label' %>
          <div class="control">
            <%= f.text_area :body, class: 'textarea rich-editor', rows: 5 %>
          </div>
          <p class="help">
            <a href="javascript:void(0)" data-modal-open="parameters-modal"><%= _('parameters') %></a>
          </p>
        </div>
        <div class="field">
          <div class="control">
            <%= f.submit _('Submit'), class: 'button is-success' %>
          </div>
        </div>
        <% end %>
      </div>
      <%= render partial: 'parameters_modal', locals: { parameters: @email_template.parameters } %>
    </article>
  </div>
</div>