<% client_cache ['TagMeta', @model.id] do %>
  <% url = tag_url(id: @model.id, slug: @model.displayed_slug(current_language&.transliterations)) %>
  <title><%= @tp.t(@model).name %> | <%= current_client.name %></title>
  <meta name="description" content="<%= @tp.t(@model).description %>" />
  <meta property="og:title" content="<%= @tp.t(@model).name %>" />
  <meta property="og:description" content="<%= @tp.t(@model).description %>" />
  <meta property="og:site_name" content="<%= current_client.name %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= url %>" />
  <% if current_client.image.attached? %>
  <meta property="og:image" content="<%= rails_blob_url(current_client.image) %>" />
  <meta property="og:image:type" content="<%= current_client.image.blob.content_type %>" />
  <meta property="og:image:width" content="<%= current_client.image.blob.metadata[:width] %>" />
  <meta property="og:image:height" content="<%= current_client.image.blob.metadata[:height] %>" />
  <% end %>
  <link rel="canonical" href="<%= url %>" />
<% end %>