<% page = [params[:page].to_i, 1].max %>

<% content_for :meta do %>
  <%= render partial: "templates/#{current_client.template}/tags/meta", locals: { page: page } %>
<% end %>

<article>
  <header class="mb-5">
    <%= render partial: "templates/#{current_client.template}/tags/breadcrumb" %>
    <h2 class="title is-4"><%= @tp.t(@model).name %></h2>
  </header>
  <div class="content mb-5"><%= @tp.t(@model).body&.html_safe %></div>

  <% client_cache ['TagPosts', @model.id, page] do %>
    <%
      posts = @tp.posts.includes(:image_attachment)
                       .joins(:tag_taggables)
                       .where(tag_taggables: { tag_id: @model.id })
                       .order(published_at: :desc, id: :desc)
                       .page(page)
                       .per(10)
    %>
    <% posts.map(&:decorate).each do |post| %>
      <%= render partial: "templates/#{current_client.template}/shared/post", locals: { post: post } %>
      <hr />
    <% end %>
    <footer class="mb-5">
      <%= paginate posts %>
    </footer>
  <% end %>
</article>