<%
    content_for :title, _('Create Tag | %{client}') % { client: current_client.name }
    content_for :description, _('Create new tag for %{client}') % { client: current_client.name }
%>

<%= render "admin/shared/error_messages", resource: @tag %>
<%= form_with(model: @tag, url: admin_tags_path, method: :post) do |f| %>
<article class="card">
  <header class="card-header">
    <h1 class="card-header-title">
      <i class="fa-solid fa-tag"></i>
      &nbsp;
      <%= _('Create Tag') %>
    </h1>
  </header>
  <div class="card-content">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= f.label :name, class: 'label required-label' %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= f.text_field :name, class: 'input', required: true %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= f.label :slug, class: 'label' %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= f.text_field :slug, class: 'input' %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= f.label :description, class: 'label' %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= f.text_area :description, class: 'textarea', rows: 5 %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= f.label :template, class: 'label' %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= f.select :template, @templates %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= f.label :visibility, class: 'label' %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= f.select :visibility, @visibilities %>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="card mt-5">
  <header class="card-header">
    <h1 class="card-header-title">
      <i class="fa-solid fa-tag"></i>
      &nbsp;
      <%= _('Meta Information') %>
    </h1>
  </header>
  <div class="card-content">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= f.label :meta_title, class: 'label' %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= f.text_field :meta_title, class: 'input' %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= f.label :meta_description, class: 'label' %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= f.text_area :meta_description, class: 'textarea', rows: 5 %>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="card mt-5">
  <header class="card-header">
    <h1 class="card-header-title">
      <i class="fa-solid fa-tag"></i>
      &nbsp;
      <%= _('Tag|Body') %>
    </h1>
  </header>
  <div class="card-content">
    <%= f.text_area :body, class: 'rich-editor', rows: 10 %>
  </div>
</article>
<div class="card mt-5">
  <div class="card-content">
    <div class="field is-horizontal">
      <div class="field-label is-hidden-touch is-hidden-mobile"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= f.submit _('Submit'), class: 'button is-success' %>
            <a class="button" href="<%= admin_tags_path %>"><%= _('Cancel') %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>