<%= form_with(method: :get, html: { class: 'smart-table-search', 'data-target' => 'posts-smart-table' }) do |t| %>
<div class="field has-addons">
  <div class="control is-expanded">
    <input type="text" name="search" placeholder="<%= _('Search...') %>" class="input" value="<%= params[:search] %>" />
  </div>
  <div class="control">
    <button type="submit" class="button is-success">
      <i class="fas fa-search"></i>
      &nbsp;
      <%= _('Search') %>
    </button>
  </div>
</div>
<% end %>
<table class="table is-striped is-hoverable is-fullwidth mt-2">
  <thead>
    <tr>
      <th><%= render partial: 'admin/shared/table_header', locals: { field: 'name', title: _('Name') } %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @posts.none? %>
    <tr>
      <td colspan="6"><%= _('No posts were found.') %></td>
    </tr>
    <% else %>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.name %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @posts %>