<%
    content_for :title, _('Tag Details | %{client}') % { client: current_client.name }
    content_for :description, _('Details for a tag of %{client}') % { client: current_client.name }
%>

<a class="button" href="<%= admin_tags_path %>">
  <i class="fas fa-long-arrow-alt-left"></i>
  &nbsp;
  <%= _('Back') %>
</a>
<div class="columns is-multiline is-mobile mt-1">
  <div class="column is-full-mobile is-full-tablet is-full-desktop is-full-widescreen">
    <article class="card">
      <header class="card-header">
        <h1 class="card-header-title">
          <i class="fas fa-tag"></i>
          &nbsp;
          <%= _('Tag Details') %>
        </h1>
        <div class="dropdown is-togglable is-right">
          <div class="dropdown-trigger card-header-icon">
            <a href="javascript:void(0)" aria-haspopup="true" aria-controls="dropdown-menu" title="<%= _('Actions') %>">
              <i class="fas fa-ellipsis-v"></i>
            </a>
          </div>
          <div class="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <% if current_client.show_tag_page %>
              <a class="dropdown-item" rel="noopener" target="_blank" href="<%= tag_path(id: @tag.id, slug: @tag.displayed_slug(current_language&.transliterations)) %>">
                <i class="fas fa-external-link-alt"></i>
                &nbsp;
                <%= _('Preview') %>
              </a>
              <% end %>
              <a class="dropdown-item" href="<%= edit_admin_tag_path(@tag) %>">
                <i class="fas fa-pen"></i>
                &nbsp;
                <%= _('Edit') %>
              </a>
              <hr class="dropdown-divider" />
              <a href="javascript:void(0)" class="dropdown-item" data-modal-open="delete-tag-modal">
                <i class="fas fa-trash"></i>
                &nbsp;
                <%= _('Delete') %>
              </a>
              <%= form_with(url: admin_tag_path(@tag), method: :delete, id: 'delete-tag-modal', class: 'modal') do %>
              <div class="modal-background cancel"></div>
              <div class="modal-card">
                <div class="modal-card-head">
                  <p class="modal-card-title"><%= _('Delete Confirmation') %></p>
                  <button type="button" class="delete cancel" aria-label="close"></button>
                </div>
                <div class="modal-card-body">
                  <p><%= _('Are you sure you want to delete this tag ?') %></p>
                </div>
                <div class="modal-card-foot">
                  <button type="button" class="button cancel"><%= _('No') %></button>
                  <button type="submit" class="button is-success"><%= _('Yes') %></button>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </header>
      <div class="card-content">
        <div class="field is-horizontal">
          <div class="field-label">
            <span class="label"><%= _('Name') %></span>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control"><%= @tag.name %></div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <span class="label"><%= _('Slug') %></span>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control"><%= @tag.slug %></div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <span class="label"><%= _('Description') %></span>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control"><%= @tag.description %></div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <span class="label"><%= _('Template') %></span>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control"><%= @tag.template %></div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <span class="label"><%= _('Total Posts') %></span>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control"><%= @tag.posts_count %></div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <span class="label"><%= _('Total Pages') %></span>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control"><%= @tag.pages_count %></div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <span class="label"><%= _('Created At') %></span>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control"><%= @tag.created_at %></div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <span class="label"><%= _('Updated At') %></span>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control"><%= @tag.updated_at %></div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="column is-full-mobile is-full-tablet is-half-desktop">
    <article class="card">
      <div class="card-header">
        <h2 class="card-header-title">
          <i class="fas fa-file"></i>
          &nbsp;
          <%= _('Posts') %>
        </h2>
      </div>
      <div class="card-content">
        <div class="smart-table" id="posts-smart-table" data-autoload="<%= admin_tag_posts_path(@tag) %>"></div>
      </div>
    </article>
  </div>
  <div class="column is-full-mobile is-full-tablet is-half-desktop">
    <article class="card">
      <div class="card-header">
        <h2 class="card-header-title">
          <i class="fas fa-sticky-note"></i>
          &nbsp;
          <%= _('Pages') %>
        </h2>
      </div>
      <div class="card-content">
        <div class="smart-table" id="pages-smart-table" data-autoload="<%= admin_tag_pages_path(@tag) %>"></div>
      </div>
    </article>
  </div>
</div>