<%
    content_for :title, _('Reset Password | %{client}') % { client: current_client.name }
    content_for :description, _('Reset your password in %{client}') % { client: current_client.name }
%>

<article class="card">
  <header class="sr-only">
    <h1 class="is-size-4 has-text-centered mb-4"><%= _('Reset Password') %></h1>
  </header>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: 'card-content') do |f| %>
  <%= render "admin/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>
  <div class="field">
    <%= f.label :password, _('New Password'), class: 'label required-label' %>
    <div class="control">
      <%= f.password_field :password, autofocus: true, autocomplete: 'new-password', placeholder: _('Your new password'), class: 'input', required: true %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, _('Confirm new Password'), class: 'label required-label' %>
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: _('Confirm your new password'), class: 'input', required: true %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.submit _('Change my password'), class: 'button is-success is-fullwidth' %>
    </div>
  </div>

  <%= render "admin_users/shared/links" %>

  <% end %>
</article>