<div class="dropdown-menu" role="menu">
  <div class="dropdown-content">
    <a class="dropdown-item" rel="noopener" target="_blank" href="<%= template_entity_path(post) %>">
      <i class="fa-solid fa-external-link-alt"></i>
      &nbsp;
      <%= _('Preview') %>
    </a>
    <% if current_client.enabled_languages.size > 1 %>
    <a class="dropdown-item" href="<%= translate_admin_post_path(post) %>">
      <i class="fa-solid fa-globe"></i>
      &nbsp;
      <%= _('Translate') %>
    </a>
    <% end %>
    <a class="dropdown-item" href="<%= edit_admin_post_path(post) %>">
      <i class="fa-solid fa-pen"></i>
      &nbsp;
      <%= _('Edit') %>
    </a>
    <% if post.draft? %>
    <a class="dropdown-item" href="javascript:void(0)" data-modal-open="publish-post-modal<%= post.id %>">
      <i class="fa-solid fa-caret-square-right"></i>
      &nbsp;
      <%= _('Publish') %>
    </a>
    <% end %>
    <hr class="dropdown-divider" />
    <a href="javascript:void(0)" class="dropdown-item" data-modal-open="delete-post-modal<%= post.id %>">
      <i class="fa-solid fa-trash"></i>
      &nbsp;
      <%= _('Delete') %>
    </a>
  </div>
</div>