<%= form_with(url: publish_admin_post_path(post), method: :post, id: "publish-post-modal#{post.id}", class: 'modal') do %>
<div class="modal-background cancel"></div>
<div class="modal-card">
  <div class="modal-card-head">
    <p class="modal-card-title"><%= _('Publish Confirmation') %></p>
    <button type="button" class="delete cancel" aria-label="close"></button>
  </div>
  <div class="modal-card-body">
    <p><%= _('Are you sure you want to publish this post ?') %></p>
  </div>
  <div class="modal-card-foot">
    <button type="button" class="button cancel"><%= _('No') %></button>
    <button type="submit" class="button is-success"><%= _('Yes') %></button>
  </div>
</div>
<% end %>