<%
    content_for :title, _('Post Details | %{client}') % { client: current_client.name }
    content_for :description, _('Details for a post of %{client}') % { client: current_client.name }
%>

<a class="button" href="<%= admin_posts_path %>">
  <i class="fa-solid fa-long-arrow-alt-left"></i>
  &nbsp;
  <%= _('Back') %>
</a>
<div class="dropdown is-togglable">
  <div class="dropdown-trigger">
    <a href="javascript:void(0)" aria-haspopup="true" aria-controls="dropdown-menu" class="button">
      <%= _('Actions') %>
      &nbsp;
      <i class="fa-solid fa-angle-down"></i>
    </a>
  </div>
  <%= render partial: 'admin/posts/dropdown_menu', locals: { post: @post } %>
  <%= render partial: 'admin/posts/delete_modal', locals: { post: @post } %>
  <%= render partial: 'admin/posts/publish_modal', locals: { post: @post } %>
</div>
<article class="card mt-5">
  <header class="card-header">
    <h1 class="card-header-title">
      <i class="fa-solid fa-thumbtack"></i>
      &nbsp;
      <%= _('Post Details') %>
    </h1>
  </header>
  <div class="card-content">
    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <% if @post.image.attached? %>
            <img src="<%= rails_representation_url(@post.image.variant(resize_to_limit: [256, 256]), locale: nil) %>" width="256" height="256" alt="image" />
            <% else %>
            <i class="fa-solid fa-8x fa-question-circle"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if @post.image.attached? %>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Post|Image description') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @post.image_description %></div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Name') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @post.name %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Slug') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @post.slug %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Description') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @post.description %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Categories') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= @post.categories.map { |category| link_to category.name, admin_category_path(category) }.join(', ').html_safe %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Tags') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= @post.tags.map { |tag| link_to tag.name, admin_tag_path(tag) }.join(', ').html_safe %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Template') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @post.template %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Status') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @post.draft? ? _('Draft|Post') : _('Published|Post') %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Visibility') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @post.public_visibility? ? _('Public|Visibility') : _('Private|Visibility') %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Author') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= render partial: 'admin/shared/admin_user_name', locals: { admin_user: @post.author } %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Created At') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @post.created_at.to_fs %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Updated At') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @post.updated_at.to_fs %></div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="card mt-5">
  <header class="card-header">
    <h1 class="card-header-title">
      <i class="fa-solid fa-thumbtack"></i>
      &nbsp;
      <%= _('Meta Information') %>
    </h1>
  </header>
  <div class="card-content">
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Post|Meta title') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @post.meta_title %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Post|Meta description') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @post.meta_description %></div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="card mt-5">
  <div class="card-header">
    <h2 class="card-header-title">
      <i class="fa-solid fa-thumbtack"></i>
      &nbsp;
      <%= _('Post|Body') %>
    </h2>
  </div>
  <div class="card-content">
    <div class="content">
      <%= @post.body&.html_safe %>
    </div>
  </div>
</article>