<div class="columns">
  <div class="column">
    <%= form_with(method: :get, html: { class: 'smart-table-search', 'data-target' => 'categories-smart-table' }) do |t| %>
    <div class="field has-addons">
      <div class="control is-expanded">
        <input type="text" name="search" placeholder="<%= _('Search...') %>" class="input" value="<%= params[:search] %>" />
      </div>
      <div class="control">
        <button type="submit" class="button is-success" title="<%= _('Search') %>">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <% end %>
  </div>
  <div class="column has-text-right-tablet">
    <a class="button is-success" href="<%= new_admin_category_path %>">
      <%= _('Create') %>
      &nbsp;
      <i class="fas fa-plus"></i>
    </a>
  </div>
</div>
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= _('Name') %></th>
      <th class="is-hidden-touch"><%= _('Created At') %></th>
      <th class="is-hidden-touch"><%= _('Updated At') %></th>
      <th class="actions-cell"></th>
    </tr>
  </thead>
  <tbody>
    <% if @categories.none? %>
    <tr>
      <td colspan="4"><%= _('No categories were found.') %></td>
    </tr>
    <% else %>
    <% @categories.each do |category| %>
    <tr>
      <td>
        <a href="<%= admin_category_path(category) %>"><%= @show_depth ? category.name_with_depth : category.name %></a>
      </td>
      <td class="is-hidden-touch"><%= category.created_at %></td>
      <td class="is-hidden-touch"><%= category.updated_at %></td>
      <td class="actions-cell">
        <div class="dropdown is-togglable is-right">
          <div class="dropdown-trigger">
            <a href="javascript:void(0)" aria-haspopup="true" aria-controls="dropdown-menu" title="<%= _('Actions') %>">
              <i class="fas fa-ellipsis-v"></i>
            </a>
          </div>
          <div class="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <% if current_client.show_category_page %>
              <a class="dropdown-item" rel="noopener" target="_blank" href="<%= category_path(id: category.id, slug: category.displayed_slug(current_language&.transliterations)) %>">
                <i class="fas fa-external-link-alt"></i>
                &nbsp;
                <%= _('Preview') %>
              </a>
              <% end %>
              <% if current_client.enabled_languages.size > 1 %>
              <a class="dropdown-item" href="<%= translate_admin_category_path(category) %>">
                <i class="fas fa-globe"></i>
                &nbsp;
                <%= _('Translate') %>
              </a>
              <% end %>
              <a class="dropdown-item" href="<%= edit_admin_category_path(category) %>">
                <i class="fas fa-pen"></i>
                &nbsp;
                <%= _('Edit') %>
              </a>
              <hr class="dropdown-divider" />
              <a class="dropdown-item" href="<%= new_admin_category_path(parent_id: category.id) %>">
                <i class="fas fa-plus"></i>
                &nbsp;
                <%= _('New Subcategory') %>
              </a>
              <hr class="dropdown-divider" />
              <a href="javascript:void(0)" class="dropdown-item" data-modal-open="delete-category-modal<%= category.id %>">
                <i class="fas fa-trash"></i>
                &nbsp;
                <%= _('Delete') %>
              </a>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<% @categories.each do |category| %>
<%= form_with(url: admin_category_path(category), method: :delete, id: "delete-category-modal#{category.id}", class: 'modal') do %>
<div class="modal-background cancel"></div>
<div class="modal-card">
  <div class="modal-card-head">
    <p class="modal-card-title"><%= _('Delete Confirmation') %></p>
    <button type="button" class="delete cancel" aria-label="close"></button>
  </div>
  <div class="modal-card-body">
    <p><%= _('Are you sure you want to delete this category ?') %></p>
  </div>
  <div class="modal-card-foot">
    <button type="button" class="button cancel"><%= _('No') %></button>
    <button type="submit" class="button is-success"><%= _('Yes') %></button>
  </div>
</div>
<% end %>
<% end %>