<div class="columns is-multiline">
  <div class="column is-full-tablet is-half-desktop">
    <%= form_with(method: :get, html: { class: 'smart-table-search', 'data-target' => 'categories-smart-table' }) do |t| %>
    <input type="hidden" name="hide_actions" value="<%= params[:hide_actions] %>" />
    <input type="hidden" name="parent_id" value="<%= params[:parent_id] %>" />
    <div class="field has-addons">
      <div class="control is-expanded">
        <input type="text" name="search" placeholder="<%= _('Search...') %>" class="input" value="<%= params[:search] %>" />
      </div>
      <div class="control">
        <button type="submit" class="button is-success" title="<%= _('Search') %>">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <% end %>
  </div>
  <% if params[:hide_actions].blank? %>
  <div class="column has-text-right-tablet">
    <a class="button" href="<%= tree_admin_categories_path %>">
      <i class="fas fa-sitemap"></i>
      &nbsp;
      <%= _('Tree') %>
    </a>
    <a class="button is-success" href="<%= new_admin_category_path %>">
      <%= _('Create') %>
      &nbsp;
      <i class="fas fa-plus"></i>
    </a>
  </div>
  <% end %>
</div>
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= render partial: 'admin/shared/table_header', locals: { field: 'name', title: _('Name') } %></th>
      <th class="is-hidden-touch"><%= render partial: 'admin/shared/table_header', locals: { field: 'created_at', title: _('Created At') } %></th>
      <th class="is-hidden-touch"><%= render partial: 'admin/shared/table_header', locals: { field: 'updated_at', title: _('Updated At') } %></th>
      <th class="actions-cell<%= ' is-hidden' if params[:hide_actions].present? %>"></th>
    </tr>
  </thead>
  <tbody>
    <% if categories.none? %>
    <tr>
      <td colspan="4"><%= _('No categories were found.') %></td>
    </tr>
    <% else %>
    <% categories.each do |category| %>
    <tr>
      <td>
        <a href="<%= admin_category_path(category) %>"><%= category.name %></a>
      </td>
      <td class="is-hidden-touch"><%= category.created_at.to_fs %></td>
      <td class="is-hidden-touch"><%= category.updated_at.to_fs %></td>
      <td class="actions-cell<%= ' is-hidden' if params[:hide_actions].present? %>">
        <div class="dropdown is-togglable is-right">
          <div class="dropdown-trigger">
            <a href="javascript:void(0)" aria-haspopup="true" aria-controls="dropdown-menu" title="<%= _('Actions') %>">
              <i class="fas fa-ellipsis-v"></i>
            </a>
          </div>
          <%= render partial: 'admin/categories/dropdown_menu', locals: { category: category } %>
        </div>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @categories %>

<% categories.each do |category| %>
<%= render partial: 'admin/categories/delete_modal', locals: { category: category } %>
<% end %>