<div class="dropdown-menu" role="menu">
  <div class="dropdown-content">
    <%
      path = template_entity_path(category)
      if path
    %>
    <a class="dropdown-item" rel="noopener" target="_blank" href="<%= path %>">
      <i class="fa-solid fa-external-link-alt"></i>
      &nbsp;
      <%= _('Preview') %>
    </a>
    <% end %>
    <% if current_client.enabled_languages.size > 1 %>
    <a class="dropdown-item" href="<%= translate_admin_category_path(category) %>">
      <i class="fa-solid fa-globe"></i>
      &nbsp;
      <%= _('Translate') %>
    </a>
    <% end %>
    <a class="dropdown-item" href="<%= edit_admin_category_path(category) %>">
      <i class="fa-solid fa-pen"></i>
      &nbsp;
      <%= _('Edit') %>
    </a>
    <hr class="dropdown-divider" />
    <a class="dropdown-item" href="<%= new_admin_category_path(parent_id: category.id) %>">
      <i class="fa-solid fa-plus"></i>
      &nbsp;
      <%= _('New Subcategory') %>
    </a>
    <hr class="dropdown-divider" />
    <a href="javascript:void(0)" class="dropdown-item" data-modal-open="delete-category-modal<%= category.id %>">
      <i class="fa-solid fa-trash"></i>
      &nbsp;
      <%= _('Delete') %>
    </a>
  </div>
</div>