<%
    content_for :title, _('Category Details | %{client}') % { client: current_client.name }
    content_for :description, _('Details for a category of %{client}') % { client: current_client.name }
%>

<a class="button" href="<%= admin_categories_path %>">
  <i class="fas fa-long-arrow-alt-left"></i>
  &nbsp;
  <%= _('Back') %>
</a>
<div class="dropdown is-togglable">
  <div class="dropdown-trigger">
    <a href="javascript:void(0)" aria-haspopup="true" aria-controls="dropdown-menu" class="button">
      <%= _('Actions') %>
      &nbsp;
      <i class="fas fa-angle-down"></i>
    </a>
  </div>
  <%= render partial: 'admin/categories/dropdown_menu', locals: { category: @category } %>
  <%= render partial: 'admin/categories/delete_modal', locals: { category: @category } %>
</div>
<article class="card mt-5">
  <header class="card-header">
    <h1 class="card-header-title">
      <i class="fas fa-th"></i>
      &nbsp;
      <%= _('Category Details') %>
    </h1>
  </header>
  <div class="card-content">
    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <% if @category.image.attached? %>
            <img src="<%= rails_representation_url(@category.image.variant(resize_to_limit: [256, 256])) %>" width="256" height="256" alt="image" />
            <% else %>
            <i class="fas fa-8x fa-question-circle"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Name') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @category.name %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Slug') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @category.slug %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Hierarchy') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <% @category.ancestors.each do |category| %>
            <a href="<%= admin_category_path(category) %>"><%= category.name %></a>
            >
            <% end %>
            <%= @category.name %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Description') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @category.description %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Template') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @category.template %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Visibility') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @category.public_visibility? ? _('Public|Visibility') : _('Private|Visibility') %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Created At') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @category.created_at %></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <span class="label"><%= _('Updated At') %></span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control"><%= @category.updated_at %></div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="card mt-5">
  <div class="card-header">
    <h2 class="card-header-title">
      <i class="fas fa-th"></i>
      &nbsp;
      <%= _('Category|Body') %>
    </h2>
  </div>
  <div class="card-content">
    <div class="content">
      <%= @category.body&.html_safe %>
    </div>
  </div>
</article>
<article class="card mt-5">
  <div class="card-header">
    <h2 class="card-header-title">
      <i class="fas fa-sitemap"></i>
      &nbsp;
      <%= _('Subcategories') %>
    </h2>
  </div>
  <div class="card-content">
    <div class="smart-table" id="categories-smart-table" data-autoload="<%= admin_categories_path(parent_id: @category.id, hide_actions: true) %>"></div>
  </div>
</article>
<article class="card mt-5">
  <div class="card-header">
    <h2 class="card-header-title">
      <i class="fas fa-thumbtack"></i>
      &nbsp;
      <%= _('Posts') %>
    </h2>
  </div>
  <div class="card-content">
    <div class="smart-table" id="posts-smart-table" data-autoload="<%= admin_category_posts_path(@category, hide_actions: true) %>"></div>
  </div>
</article>