<%
    content_for :title, _('Categories Tree | %{client}') % { client: current_client.name }
    content_for :description, _('Tree with categories of %{client}') % { client: current_client.name }
%>

<article class="card">
  <header class="card-header">
    <h1 class="card-header-title">
      <i class="fas fa-th"></i>
      &nbsp;
      <%= _('Categories') %>
    </h1>
  </header>
  <div class="card-content">
    <div class="has-text-right-tablet">
      <a class="button" href="<%= admin_categories_path %>">
        <i class="fas fa-table"></i>
        &nbsp;
        <%= _('Table') %>
      </a>
      <a class="button is-success" href="<%= new_admin_category_path %>">
        <%= _('Create') %>
        &nbsp;
        <i class="fas fa-plus"></i>
      </a>
    </div>
    <table class="table is-striped is-hoverable is-fullwidth mt-3">
      <thead>
        <tr>
          <th><%= _('Name') %></th>
          <th class="is-hidden-touch"><%= _('Created At') %></th>
          <th class="is-hidden-touch"><%= _('Updated At') %></th>
          <th class="actions-cell"></th>
        </tr>
      </thead>
      <tbody>
        <% if categories.none? %>
        <tr>
          <td colspan="4"><%= _('No categories were found.') %></td>
        </tr>
        <% else %>
        <% categories.each do |category| %>
        <tr>
          <td>
            <a href="<%= admin_category_path(category) %>"><%= category.name_with_depth %></a>
          </td>
          <td class="is-hidden-touch"><%= category.created_at.to_fs %></td>
          <td class="is-hidden-touch"><%= category.updated_at.to_fs %></td>
          <td class="actions-cell">
            <div class="dropdown is-togglable is-right">
              <div class="dropdown-trigger">
                <a href="javascript:void(0)" aria-haspopup="true" aria-controls="dropdown-menu" title="<%= _('Actions') %>">
                  <i class="fas fa-ellipsis-v"></i>
                </a>
              </div>
              <%= render partial: 'admin/categories/dropdown_menu', locals: { category: category } %>
            </div>
          </td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
    <% categories.each do |category| %>
    <%= render partial: 'admin/categories/delete_modal', locals: { category: category } %>
    <% end %>
  </div>
</article>