<%
    content_for :title, 'Sign In | Pandemic CMS'
    content_for :description, 'Sign in to Pandemic CMS'
%>

<article class="small-form">
    <header>
        <h1 class="title is-3">Sign In</h1>
    </header>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.hidden_field :client_id, value: current_client_id %>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= f.label :email, class: 'label required-label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <%= f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'Your email address', class: 'input', required: true %>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= f.label :password, class: 'label required-label' %>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <%= f.password_field :password, autocomplete: 'password', placeholder: 'Your password', class: 'input', required: true %>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal"></div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <%= f.submit 'Sign in', class: 'button is-link' %>
                    <br />
                    <br />
                    <%= render "admin_users/shared/links" %>
                </div>
            </div>
        </div>
    </div>

    <% end %>
</article>