<nav class="breadcrumb has-succeeds-operator is-small">
  <ul>
    <% client_view_cache ['Breadcrumb', 'RootPage'] do %>
    <% root_page = @tp.pages.find_by(template: 'index') %>
    <% if root_page %>
    <li>
      <a href="<%= template_entity_path(root_page) %>"><%= @tp.t(root_page).name %></a>
    </li>
    <% end %>
    <% end %>

    <% client_view_cache ['Breadcrumb', 'Category', @model.parent_id] do %>
    <%
        ancestors = @tp.categories.where(id: @model.ancestor_ids)
                                  .sort_by { |ancestor| @model.ancestor_ids.index(ancestor.id) }
      %>
    <% ancestors.each do |ancestor| %>
    <li>
      <a href="<%= template_entity_path(ancestor) %>"><%= @tp.t(ancestor).name %></a>
    </li>
    <% end %>
    <% end %>

    <li class="is-active">
      <a href="#"><%= @tp.t(@model).name %></a>
    </li>
  </ul>
</nav>