<%
    content_for :title, _('Translate User | %{client}') % { client: current_client.name }
    content_for :description, _('Translate a user of %{client}') % { client: current_client.name }
%>

<%= render "admin/shared/error_messages", resource: @user %>
<a class="button" href="<%= admin_user_path(@user) %>">
  <i class="fas fa-long-arrow-alt-left"></i>
  &nbsp;
  <%= _('Back') %>
</a>
<div class="columns is-multiline is-mobile mt-3">
  <div class="column is-full-mobile is-full-tablet is-half-desktop">
    <article class="card">
      <header class="card-header">
        <h1 class="card-header-title">
          <i class="fas fa-users"></i>
          &nbsp;
          <%= _('User') %>
        </h1>
      </header>
      <div class="card-content">
        <div class="field">
          <span class="label"><%= _('Username') %></span>
          <div class="control"><%= @user.username %></div>
        </div>
        <div class="field">
          <span class="label"><%= _('First Name') %></span>
          <div class="control">
            <input type="text" class="input" value="<%= @user.first_name %>" readonly />
          </div>
        </div>
        <div class="field">
          <span class="label"><%= _('Middle Name') %></span>
          <div class="control">
            <input type="text" class="input" value="<%= @user.middle_name %>" readonly />
          </div>
        </div>
        <div class="field">
          <span class="label"><%= _('Last Name') %></span>
          <div class="control">
            <input type="text" class="input" value="<%= @user.last_name %>" readonly />
          </div>
        </div>
        <div class="field">
          <span class="label"><%= _('Description') %></span>
          <div class="control">
            <textarea rows="5" class="textarea" readonly><%= @user.description %></textarea>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="column is-full-mobile is-full-tablet is-half-desktop">
    <article class="card">
      <header class="card-header">
        <h1 class="card-header-title">
          <i class="fas fa-users"></i>
          &nbsp;
          <%= _('Translation') %>
        </h1>
        <%= render partial: 'admin/shared/languages_dropdown' %>
      </header>
      <div class="card-content">
        <%= form_with(model: @translation, url: translate_admin_user_path(@user, translation_locale: translation_locale), method: :post) do |f| %>
        <div class="field">
          <span class="label"><%= _('Username') %></span>
          <div class="control"><%= @translation.username %></div>
        </div>
        <div class="field">
          <%= f.label :first_name, class: 'label' %>
          <div class="control">
            <%= f.text_field :first_name, class: 'input' %>
          </div>
        </div>
        <div class="field">
          <%= f.label :middle_name, class: 'label' %>
          <div class="control">
            <%= f.text_field :middle_name, class: 'input' %>
          </div>
        </div>
        <div class="field">
          <%= f.label :last_name, class: 'label' %>
          <div class="control">
            <%= f.text_field :last_name, class: 'input' %>
          </div>
        </div>
        <div class="field">
          <%= f.label :description, class: 'label' %>
          <div class="control">
            <%= f.text_area :description, class: 'textarea', rows: 5 %>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= f.submit _('Submit'), class: 'button is-success' %>
          </div>
        </div>
        <% end %>
      </div>
    </article>
  </div>
</div>