<nav class="breadcrumb has-succeeds-operator is-small">
  <ul>
    <% client_cache ['Breadcrumb', 'RootPage'] do %>
      <% root_page = @tp.pages.find_by(template: 'index')&.decorate %>
      <% if root_page %>
        <li>
          <a href="<%= root_page.path(current_language) %>"><%= @tp.t(root_page).name %></a>
        </li>
      <% end %>
    <% end %>

    <% client_cache ['Breadcrumb', 'PostCategory', @model.id] do %>
      <% @post_category = @tp.categories(post_id: @model.id).first unless defined?(@post_category) %>
      <% if @post_category %>
        <% client_cache ['Breadcrumb', 'Category', @post_category.id] do %>
          <%
            category_ids = @post_category.ancestor_ids + [@post_category.id]
            ancestors = @tp.categories.where(id: category_ids)
                                      .sort_by { |ancestor| category_ids.index(ancestor.id) }
                                      .map(&:decorate)
          %>
          <% ancestors.each do |ancestor| %>
            <li>
              <a href="<%= ancestor.path(current_language) %>"><%= @tp.t(ancestor).name %></a>
            </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <li class="is-active">
      <a href="#"><%= @tp.t(@model).name %></a>
    </li>
  </ul>
</nav>