<div class="dropdown-menu" role="menu">
  <div class="dropdown-content">
    <% if current_client.enabled_languages.size > 1 %>
    <a class="dropdown-item" href="<%= translate_admin_menu_menu_item_path(id: menu_item.id, menu_id: menu_item.menu_id) %>">
      <i class="fa-solid fa-globe"></i>
      &nbsp;
      <%= _('Translate') %>
    </a>
    <% end %>
    <a class="dropdown-item" href="<%= edit_admin_menu_menu_item_path(id: menu_item.id, menu_id: menu_item.menu_id) %>">
      <i class="fa-solid fa-pen"></i>
      &nbsp;
      <%= _('Edit') %>
    </a>
    <hr class="dropdown-divider" />
    <a class="dropdown-item" href="<%= new_admin_menu_menu_item_path(parent_id: menu_item.id, menu_id: menu_item.menu_id) %>">
      <i class="fa-solid fa-plus"></i>
      &nbsp;
      <%= _('New Subitem') %>
    </a>
    <hr class="dropdown-divider" />
    <a href="javascript:void(0)" class="dropdown-item" data-modal-open="delete-menu-item-modal<%= menu_item.id %>">
      <i class="fa-solid fa-trash"></i>
      &nbsp;
      <%= _('Delete') %>
    </a>
  </div>
</div>