<div class="has-text-right-tablet">
  <a class="button is-success" href="<%= new_admin_menu_menu_item_path(menu_id: menu) %>">
    <%= _('Create') %>
    &nbsp;
    <i class="fa-solid fa-plus"></i>
  </a>
</div>
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= _('Name') %></th>
      <th class="is-hidden-touch"><%= _('Link') %></th>
      <th class="actions-cell"></th>
    </tr>
  </thead>
  <tbody>
    <% if menu_items.none? %>
    <tr>
      <td colspan="3"><%= _('No menu items were found.') %></td>
    </tr>
    <% else %>
    <% @menu_items.each do |menu_item| %>
    <tr>
      <td>
        <a href="<%= admin_menu_menu_item_path(id: menu_item.id, menu_id: menu_item.menu_id) %>"><%= menu_item.name_with_depth %></a>
      </td>
      <td class="is-hidden-touch">
        <%= render partial: 'admin/menu_items/link', locals: { menu_item: menu_item } %>
      </td>
      <td class="actions-cell">
        <div class="dropdown is-togglable is-right">
          <div class="dropdown-trigger">
            <a href="javascript:void(0)" aria-haspopup="true" aria-controls="dropdown-menu" title="<%= _('Actions') %>">
              <i class="fa-solid fa-ellipsis-v"></i>
            </a>
          </div>
          <%= render partial: 'admin/menu_items/dropdown_menu', locals: { menu_item: menu_item } %>
        </div>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<% @menu_items.each do |menu_item| %>
<%= render partial: 'admin/menu_items/delete_modal', locals: { menu_item: menu_item } %>
<% end %>