<% if current_client.enabled_languages.size > 1 %>
<div class="dropdown is-togglable is-right">
  <div class="dropdown-trigger card-header-icon">
    <a href="javascript:void(0)" aria-haspopup="true" aria-controls="dropdown-menu">
      <span class="fi fi-<%= translation_language.flag %>"></span>
      <%= translation_language.name %>
      <i class="fa-solid fa-angle-down" aria-hidden="true"></i>
    </a>
  </div>
  <div class="dropdown-menu" role="menu">
    <nav class="dropdown-content">
      <% current_client.enabled_languages.each do |language| %>
      <a class="dropdown-item" href="<%= url_for(translation_locale: language.locale) %>">
        <span class="fi fi-<%= language.flag %>"></span>
        &nbsp;
        <%= language.name %>
      </a>
      <% end %>
    </nav>
  </div>
</div>
<% end %>