<!DOCTYPE html>
<html lang="<%= current_locale.to_s.split('-').first %>" data-js-locale="<%= current_locale.to_s.tr('-', '_') %>">

<head>
  <title><%= yield :title %></title>
  <meta name="description" content="<%= yield :description %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="icon" href="<%= current_client.image_path_with_default([32, 32], '/favicon.png') %>">

  <%= stylesheet_pack_tag 'admin_auth/styles/main', *(content_for?(:stylesheets) ? yield(:stylesheets).split(',') : []), media: 'all' %>
  <%= javascript_pack_tag 'admin_auth/main', *(content_for?(:scripts) ? yield(:scripts).split(',') : []) %>
</head>

<body>
  <header class="title is-3">
    <img src="<%= current_client.image_path_with_default([32, 32]) %>" alt="logo" />
    <span>&nbsp; <%= current_client.name %></span>
  </header>
  <main><%= yield %></main>
  <%= render partial: 'layouts/shared/admin_notifications' %>
</body>

</html>