<!DOCTYPE html>
<html lang="<%= current_locale %>">

<head>
    <title><%= yield :title %></title>
    <meta name="description" content="<%= yield :description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/tenants/<%= current_client[:id] %>/favicon.png">

    <%= stylesheet_pack_tag 'admin/styles/main', media: 'all' %>
    <%= javascript_pack_tag 'admin/main', defer: true %>
</head>

<body>
    <header>
        <nav class="navbar is-dark">
            <div class="navbar-brand">
                <a class="navbar-item" href="<%= admin_root_path %>">
                    <%= render partial: "shared/tenants/#{current_client[:id]}/admin_logo" %>
                </a>
                <div class="navbar-burger burger" data-target="main-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="navbar-menu" id="main-menu">
                <% if admin_user_signed_in? %>
                <div class="navbar-start">
                    <a class="navbar-item" href="#">
                        <i class="fas fa-image"></i>
                        &nbsp;
                        <%= _('Media') %>
                    </a>
                    <a class="navbar-item" href="#">
                        <i class="fas fa-th"></i>
                        &nbsp;
                        <%= _('Categories') %>
                    </a>
                    <a class="navbar-item" href="#">
                        <i class="fas fa-file"></i>
                        &nbsp;
                        <%= _('Posts') %>
                    </a>
                    <a class="navbar-item" href="#">
                        <i class="fas fa-sticky-note"></i>
                        &nbsp;
                        <%= _('Pages') %>
                    </a>
                    <% if current_admin_user&.supervisor? %>
                    <a class="navbar-item" href="#">
                        <i class="fas fa-users"></i>
                        &nbsp;
                        <%= _('Users') %>
                    </a>
                    <% end %>
                </div>
                <% end %>
                <div class="navbar-end">
                    <% if admin_user_signed_in? %>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="javascript:void(0)">
                            <i class="fas fa-user"></i>
                            &nbsp;
                            <%= current_admin_user.username %>
                        </a>
                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item" href="#">
                                <i class="fas fa-user"></i>
                                &nbsp;
                                <%= _('My Profile') %>
                            </a>
                            <a class="navbar-item" href="#">
                                <i class="fas fa-lock"></i>
                                &nbsp;
                                <%= _('Change Password') %>
                            </a>
                            <%= form_with(url: destroy_admin_user_session_path, method: :delete) do |f| %>
                            <a class="navbar-item" href="javascript:void(0)" onclick="this.parentElement.submit()">
                                <i class="fas fa-unlock"></i>
                                &nbsp;
                                <%= _('Sign Out') %>
                            </a>
                            <% end %>
                        </div>
                    </div>
                    <% end %>
                    <% if current_client[:locales].size > 1 %>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#">
                            <span><%= current_client[:locales][current_locale][:code].html_safe %></span>
                            &nbsp;
                            <%= current_client[:locales][current_locale][:name] %>
                        </a>
                        <div class="navbar-dropdown is-right">
                            <% current_client[:locales].except(current_locale).each do |key, options| %>
                            <a class="navbar-item" href="<%= url_for(locale: key) %>">
                                <span><%= options[:code].html_safe %></span>
                                &nbsp;
                                <%= options[:name] %>
                            </a>
                            <% end %>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </nav>
    </header>
    <main class="container is-fluid">
        <% if alert %>
        <p class="notification is-danger">
            <button type="button" class="delete"></button>
            <%= alert %>
        </p>
        <% end %>
        <% if notice %>
        <p class="notification is-success">
            <button type="button" class="delete"></button>
            <%= notice %>
        </p>
        <% end %>

        <%= yield %>
    </main>
    <footer><%= render partial: "shared/tenants/#{current_client[:id]}/admin_footer" %></footer>
</body>

</html>