<!DOCTYPE html>
<html lang="<%= current_locale %>">

<head>
    <title><%= yield :title %></title>
    <meta name="description" content="<%= yield :description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/tenants/<%= current_client[:id] %>/favicon.ico">

    <%= stylesheet_pack_tag 'admin/styles/main', media: 'all' %>
    <%= javascript_pack_tag 'admin/main', defer: true %>
</head>

<body>
    <header>
        <nav class="navbar is-dark">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <%= render partial: "shared/tenants/#{current_client[:id]}/admin_logo" %>
                </a>
                <div class="navbar-burger burger" data-target="main-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="navbar-menu" id="main-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="#">
                        <i class="fas fa-image"></i>
                        &nbsp;
                        <%= _('Media') %>
                    </a>
                    <a class="navbar-item" href="#">
                        <i class="fas fa-th"></i>
                        &nbsp;
                        <%= _('Categories') %>
                    </a>
                    <a class="navbar-item" href="#">
                        <i class="fas fa-file"></i>
                        &nbsp;
                        <%= _('Posts') %>
                    </a>
                    <a class="navbar-item" href="#">
                        <i class="fas fa-sticky-note"></i>
                        &nbsp;
                        <%= _('Pages') %>
                    </a>
                    <a class="navbar-item" href="#">
                        <i class="fas fa-users"></i>
                        &nbsp;
                        <%= _('Users') %>
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#">
                            <i class="fas fa-user"></i>
                            &nbsp;
                            Username
                        </a>
                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item" href="#">
                                <i class="fas fa-user"></i>
                                &nbsp;
                                <%= _('My Profile') %>
                            </a>
                            <a class="navbar-item" href="#">
                                <i class="fas fa-lock"></i>
                                &nbsp;
                                <%= _('Change Password') %>
                            </a>
                            <a class="navbar-item" href="#">
                                <i class="fas fa-unlock"></i>
                                &nbsp;
                                <%= _('Sign Out') %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="container is-fluid">
        <% if alert %>
        <p class="notification is-danger">
            <button type="button" class="delete"></button>
            <%= alert %>
        </p>
        <% end %>
        <% if notice %>
        <p class="notification is-success">
            <button type="button" class="delete"></button>
            <%= notice %>
        </p>
        <% end %>

        <%= yield %>
    </main>
    <footer>
        <% if Time.now.year > current_client[:release_year] %>
        <%= current_client[:name] %> &copy; <%= current_client[:release_year] %> - <%= Time.now.year %>
        <% else %>
        <%= current_client[:name] %> &copy; <%= current_client[:release_year] %>
        <% end %>
    </footer>
</body>

</html>