<!DOCTYPE html>
<html data-theme="light" lang="<%= current_locale.to_s.split('-').first %>" data-js-locale="<%= current_locale.to_s.tr('-', '_') %>">

<head>
  <title><%= yield :title %></title>
  <meta name="description" content="<%= yield :description %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="icon" href="<%= current_client.image_path_with_default([32, 32], '/favicon.png') %>" />

  <% ['admin_auth/main'].concat(yield(:stylesheets).split(',')).each do |name| %>
    <%= stylesheet_link_tag name, media: 'all' %>
  <% end %>
  <% ['runtime', 'admin_auth/main'].concat(yield(:scripts).split(',')).each do |name| %>
    <%= javascript_include_tag name, defer: true %>
  <% end %>
</head>

<body>
  <header class="title is-3">
    <img src="<%= current_client.image_path_with_default([32, 32]) %>" alt="logo" />
    <span>&nbsp; <%= current_client.name %></span>
  </header>
  <main><%= yield %></main>
  <%= render partial: 'layouts/shared/admin_notifications' %>
</body>

</html>