<!DOCTYPE html>
<html lang="<%= current_locale.to_s.split('-').first %>" data-js-locale="<%= current_locale.to_s.tr('-', '_') %>">

<head>
  <title><%= yield :title %></title>
  <meta name="description" content="<%= yield :description %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="icon" href="<%= current_client.image_path_with_default([32, 32], '/favicon.png')  %>">

  <% ['admin/main'].concat(yield(:stylesheets).split(',')).each do |name| %>
    <%= stylesheet_link_tag name, media: 'all' %>
  <% end %>
  <% ['runtime', 'admin/main'].concat(yield(:scripts).split(',')).each do |name| %>
    <%= javascript_include_tag name, defer: true %>
  <% end %>
</head>

<body>
  <header>
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= admin_root_path %>">
          <img src="<%= current_client.image_path_with_default([32, 32]) %>" alt="logo">
          &nbsp;
          <%= current_client.name %>
        </a>
        <div class="navbar-burger burger" data-target="main-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" id="main-menu">
        <div class="navbar-start">
          <a class="navbar-item<%= ' is-active' if controller_name == 'media' %>" href="<%= admin_media_path %>">
            <i class="fas fa-image"></i>
            &nbsp;
            <%= _('Media') %>
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link<%= ' is-active' if %w[posts categories tags].include?(controller_name) %>" href="javascript:void(0)">
              <i class="fas fa-thumbtack"></i>
              &nbsp;
              <%= _('Posts') %>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item<%= ' is-active' if controller_name == 'posts' %>" href="<%= admin_posts_path %>">
                <i class="fas fa-thumbtack"></i>
                &nbsp;
                <%= _('Posts') %>
              </a>
              <a class="navbar-item<%= ' is-active' if controller_name == 'categories' %>" href="<%= admin_categories_path %>">
                <i class="fas fa-th"></i>
                &nbsp;
                <%= _('Categories') %>
              </a>
              <a class="navbar-item<%= ' is-active' if controller_name == 'tags' %>" href="<%= admin_tags_path %>">
                <i class="fas fa-tag"></i>
                &nbsp;
                <%= _('Tags') %>
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link<%= ' is-active' if %w[pages menus menu_items redirects].include?(controller_name) %>" href="javascript:void(0)">
              <i class="fas fa-file"></i>
              &nbsp;
              <%= _('Pages') %>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item<%= ' is-active' if controller_name == 'pages' %>" href="<%= admin_pages_path %>">
                <i class="fas fa-file"></i>
                &nbsp;
                <%= _('Pages') %>
              </a>
              <a class="navbar-item<%= ' is-active' if %w[menus menu_items].include?(controller_name) %>" href="<%= admin_menus_path %>">
                <i class="fas fa-bars"></i>
                &nbsp;
                <%= _('Menus') %>
              </a>
              <a class="navbar-item<%= ' is-active' if controller_name == 'redirects' %>" href="<%= admin_redirects_path %>">
                <i class="fas fa-location-arrow"></i>
                &nbsp;
                <%= _('Redirects') %>
              </a>
            </div>
          </div>
          <% if current_admin_user&.supervisor? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link<%= ' is-active' if %w[clients email_templates users].include?(controller_name) %>" href="javascript:void(0)">
              <i class="fas fa-cog"></i>
              &nbsp;
              <%= _('Settings') %>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item<%= ' is-active' if controller_name == 'clients' %>" href="<%= admin_client_edit_path %>">
                <i class="fas fa-cog"></i>
                &nbsp;
                <%= _('Settings') %>
              </a>
              <a class="navbar-item<%= ' is-active' if controller_name == 'email_templates' %>" href="<%= admin_email_templates_path %>">
                <i class="fas fa-envelope"></i>
                &nbsp;
                <%= _('Email Templates') %>
              </a>
              <a class="navbar-item<%= ' is-active' if controller_name == 'users' %>" href="<%= admin_users_path %>">
                <i class="fas fa-users"></i>
                &nbsp;
                <%= _('Users') %>
              </a>
              <%= form_with(url: admin_cache_clear_path, method: :post) do |f| %>
              <a class="navbar-item submit-parent-form" href="javascript:void(0)">
                <i class="fas fa-database"></i>
                &nbsp;
                <%= _('Clear Cache') %>
              </a>
              <% end %>
              <%= form_with(url: admin_index_start_path, method: :post) do |f| %>
              <a class="navbar-item submit-parent-form" href="javascript:void(0)">
                <i class="fas fa-server"></i>
                &nbsp;
                <%= _('Index|Process') %>
              </a>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
        <div class="navbar-end">
          <% if admin_user_signed_in? %>
          <%= render partial: 'layouts/shared/admin_profile_menu', locals: { admin_panel: true } %>
          <% end %>
          <% if current_client.enabled_languages.size > 1 %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="javascript:void(0)">
              <span class="fi fi-<%= current_language.flag %>"></span>
              &nbsp;
              <%= current_language.name %>
            </a>
            <div class="navbar-dropdown is-right">
              <% current_client.enabled_languages.each do |language| %>
              <a class="navbar-item" href="<%= url_for(locale: language.locale) %>">
                <span class="fi fi-<%= language.flag %>"></span>
                &nbsp;
                <%= language.name %>
              </a>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </nav>
  </header>
  <main class="container is-fluid"><%= yield %></main>
  <%= render partial: 'layouts/shared/admin_notifications' %>
</body>

</html>