<!DOCTYPE html>
<html lang="<%= current_locale %>">

<head>
  <title><%= yield :title %></title>
  <meta name="description" content="<%= yield :description %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="icon" href="<%= current_client.image.attached? ? rails_representation_url(current_client.image.variant(resize_to_limit: [32, 32])) : '/favicon.png' %>">

  <%= stylesheet_packs_with_chunks_tag 'admin/styles/main', media: 'all' %>
  <%= javascript_packs_with_chunks_tag 'admin/main', defer: true %>
  <%= yield :scripts %>
</head>

<body>
  <header>
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= admin_root_path %>">
          <img src="<%= current_client.image.attached? ? rails_representation_url(current_client.image.variant(resize_to_limit: [32, 32])) : '/logo.png' %>" alt="logo">
          &nbsp;
          <%= current_client.name %>
        </a>
        <div class="navbar-burger burger" data-target="main-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" id="main-menu">
        <div class="navbar-start">
          <a class="navbar-item<%= controller_name == 'media' ? ' is-active' : '' %>" href="<%= admin_media_path %>">
            <i class="fas fa-image"></i>
            &nbsp;
            <%= _('Media') %>
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link<%= %w[posts categories tags].include?(controller_name) ? ' is-active' : '' %>" href="javascript:void(0)">
              <i class="fas fa-file"></i>
              &nbsp;
              <%= _('Posts') %>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="javascript:void(0)">
                <i class="fas fa-file"></i>
                &nbsp;
                <%= _('Posts') %>
              </a>
              <a class="navbar-item" href="javascript:void(0)">
                <i class="fas fa-th"></i>
                &nbsp;
                <%= _('Categories') %>
              </a>
              <a class="navbar-item<%= controller_name == 'tags' ? ' is-active' : '' %>" href="<%= admin_tags_path %>">
                <i class="fas fa-tag"></i>
                &nbsp;
                <%= _('Tags') %>
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="javascript:void(0)">
              <i class="fas fa-sticky-note"></i>
              &nbsp;
              <%= _('Pages') %>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="javascript:void(0)">
                <i class="fas fa-sticky-note"></i>
                &nbsp;
                <%= _('Pages') %>
              </a>
              <a class="navbar-item" href="javascript:void(0)">
                <i class="fas fa-bars"></i>
                &nbsp;
                <%= _('Menus') %>
              </a>
            </div>
          </div>
          <% if current_admin_user&.supervisor? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link<%= %w[clients email_templates].include?(controller_name) ? ' is-active' : '' %>" href="javascript:void(0)">
              <i class="fas fa-cog"></i>
              &nbsp;
              <%= _('Settings') %>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item<%= controller_name == 'clients' ? ' is-active' : '' %>" href="<%= admin_client_edit_path %>">
                <i class="fas fa-cog"></i>
                &nbsp;
                <%= _('Settings') %>
              </a>
              <a class="navbar-item<%= controller_name == 'email_templates' ? ' is-active' : '' %>" href="<%= admin_email_templates_path %>">
                <i class="fas fa-envelope"></i>
                &nbsp;
                <%= _('Email Templates') %>
              </a>
              <a class="navbar-item" href="javascript:void(0)">
                <i class="fas fa-users"></i>
                &nbsp;
                <%= _('Users') %>
              </a>
            </div>
          </div>
          <% end %>
        </div>
        <div class="navbar-end">
          <% if admin_user_signed_in? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="javascript:void(0)">
              <i class="fas fa-user"></i>
              &nbsp;
              <%= current_admin_user.username %>
            </a>
            <div class="navbar-dropdown is-right">
              <a class="navbar-item" href="javascript:void(0)">
                <i class="fas fa-user"></i>
                &nbsp;
                <%= _('My Profile') %>
              </a>
              <a class="navbar-item" href="javascript:void(0)">
                <i class="fas fa-lock"></i>
                &nbsp;
                <%= _('Change Password') %>
              </a>
              <hr class="navbar-divider" />
              <%= form_with(url: destroy_admin_user_session_path, method: :delete) do |f| %>
              <a class="navbar-item submit-parent-form" href="javascript:void(0)">
                <i class="fas fa-unlock"></i>
                &nbsp;
                <%= _('Sign Out') %>
              </a>
              <% end %>
            </div>
          </div>
          <% end %>
          <% if current_client.enabled_languages.size > 1 %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="javascript:void(0)">
              <span class="flag-icon flag-icon-<%= current_language.flag %>"></span>
              &nbsp;
              <%= current_language.name %>
            </a>
            <div class="navbar-dropdown is-right">
              <% current_client.enabled_languages.each do |language| %>
              <a class="navbar-item" href="<%= url_for(locale: language.locale) %>">
                <span class="flag-icon flag-icon-<%= language.flag %>"></span>
                &nbsp;
                <%= language.name %>
              </a>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </nav>
  </header>
  <main class="container is-fluid"><%= yield %></main>
  <%= render partial: 'layouts/shared/admin_footer' %>
</body>

</html>