<!DOCTYPE html>
<html lang="<%= current_locale %>">

<head>
  <title><%= yield :title %></title>
  <meta name="description" content="<%= yield :description %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="icon" href="<%= current_client.image.attached? ? rails_representation_url(current_client.image.variant(resize_to_limit: [32, 32])) : '/favicon.png' %>">

  <%= stylesheet_packs_with_chunks_tag 'admin_auth/styles/main', media: 'all' %>
  <%= javascript_packs_with_chunks_tag 'admin_auth/main', defer: true %>
</head>

<body>
  <header class="title is-3">
    <img src="<%= current_client.image.attached? ? rails_representation_url(current_client.image.variant(resize_to_limit: [32, 32])) : '/logo.png' %>" alt="logo" />
    <span>&nbsp; Pandemic CMS</span>
  </header>
  <main><%= yield %></main>
  <%= render partial: 'layouts/shared/admin_footer' %>
</body>

</html>