<!DOCTYPE html>
<html>

<head>
    <title>Pandemiccms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'styles/application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
</head>

<body>
    <%= yield %>
</body>

</html>