<!DOCTYPE html>
<html>

<head>
    <title><%= yield :title %></title>
    <meta name="description" content="<%= yield :description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'styles/application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
</head>

<body>
    <header>
        <nav class="navbar is-dark">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <i class="fas fa-disease"></i>
                    &nbsp;
                    Pandemic CMS
                </a>
                <div class="navbar-burger burger" data-target="main-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="navbar-menu" id="main-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="#">
                        <i class="fas fa-image"></i>
                        &nbsp;
                        Media
                    </a>
                    <a class="navbar-item" href="#">
                        <i class="fas fa-th"></i>
                        &nbsp;
                        Categories
                    </a>
                    <a class="navbar-item" href="#">
                        <i class="fas fa-file"></i>
                        &nbsp;
                        Posts
                    </a>
                    <a class="navbar-item" href="#">
                        <i class="fas fa-sticky-note"></i>
                        &nbsp;
                        Pages
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="#" class="navbar-link">
                            <i class="fas fa-user-cog"></i>
                            &nbsp;
                            Administration
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="#">
                                <i class="fas fa-cog"></i>
                                &nbsp;
                                Settings
                            </a>
                            <a class="navbar-item" href="#">
                                <i class="fas fa-globe"></i>
                                &nbsp;
                                Languages
                            </a>
                            <a class="navbar-item" href="#">
                                <i class="fas fa-users"></i>
                                &nbsp;
                                Users
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#">
                            <i class="fas fa-user"></i>
                            &nbsp;
                            Username
                        </a>
                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item" href="#">
                                <i class="fas fa-user"></i>
                                &nbsp;
                                My Profile
                            </a>
                            <a class="navbar-item" href="#">
                                <i class="fas fa-lock"></i>
                                &nbsp;
                                Change Password
                            </a>
                            <a class="navbar-item" href="#">
                                <i class="fas fa-unlock"></i>
                                &nbsp;
                                Sign Out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="container is-fluid">
        <% if alert %>
        <p class="notification is-danger">
            <button type="button" class="delete"></button>
            <%= alert %>
        </p>
        <% end %>
        <% if notice %>
        <p class="notification is-success">
            <button type="button" class="delete"></button>
            <%= notice %>
        </p>
        <% end %>

        <%= yield %>
    </main>
    <footer>
        <% if Time.now.year > 2020 %>
        Pandemic CMS 2020 - <%= Time.now.year %>
        <% else %>
        Pandemic CMS 2020
        <% end %>
    </footer>
</body>

</html>