<!DOCTYPE html>
<html data-theme="light" lang="<%= current_locale.to_s.split('-').first %>" data-js-locale="<%= current_locale.to_s.tr('-', '_') %>">

<head>
  <title><%= yield :title %></title>
  <meta name="description" content="<%= yield :description %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="icon" href="/favicon.png" />

  <%= vite_client_tag %>
  <% ['entrypoints/admin/main.js'].concat(yield(:scripts).split(',')).each do |name| %>
    <%= vite_javascript_tag name %>
  <% end %>
</head>

<body>
  <header class="title is-3 logo-header">
    <img src="/logo.png" alt="logo" />
    <span>&nbsp; Pandemic CMS</span>
  </header>
  <main class="container is-fluid"><%= yield %></main>
  <%= render partial: 'layouts/shared/admin_notifications' %>
</body>

</html>